# Flask
FLASK_ENV=development
SECRET_KEY=

# Database
DATABASE_URL=postgresql://hr_user:CHANGE_ME@db:5432/hr_platform
TEST_DATABASE_URL=postgresql://hr_user:CHANGE_ME@db:5432/hr_platform_test
POSTGRES_USER=hr_user
POSTGRES_PASSWORD=
POSTGRES_DB=hr_platform

# JWT
JWT_SECRET_KEY=

# Redis / Celery
REDIS_URL=redis://redis:6379/0

# CORS
CORS_ORIGINS=http://localhost:5000
